<div class="row container">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
        <p>
            Selecciona el tipo de reserva:
            <mat-radio-group aria-label="Selecciona una opción">
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle value="bold">Restaurantes</mat-button-toggle>
                    <mat-button-toggle value="italic">Hoteles</mat-button-toggle>
                </mat-button-toggle-group>
            </mat-radio-group>
        </p>

        <h1>Reservar</h1>
        <h3>
            Las puertas de nuestros restaurantes siempre están abiertas pero nunca sobra ser precavido y reservar una mesa.
        </h3>
        <h3>
            Las puertas de nuestros hoteles siempre están abiertas, pero nunca está de más ser precavido y hacer una reserva.
        </h3>

        <span>Restaurante</span>
        <br>
        <span>Hotel</span>

        <div>

        </div>

        <button type="submit" mat-raised-button color="primary" class="button-primary" >Consultar disponibilidad</button>
    </div>
</div>