<!-- <div class="pt-4 pb-4">
  <form [formGroup]="formExample" >
    <div class="col-12 col-md-6" >
      <mat-form-field fxFlex="100" fxFlex.lt-sm="100" appearance="outline">
        <mat-label>Correo electrónico :</mat-label>
        <input 
          matInput 
          type="text"
          formControlName="correo" >
        <mat-error *ngFor="let errorMessage of errorHandlerService.getErrorMessages(formExample,'correo')">
          {{ errorMessage }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 col-md-6" >
      <mat-form-field fxFlex="100" fxFlex.lt-sm="100" appearance="outline">
        <mat-label>Contraseña :</mat-label>
        <input 
          matInput 
          type="text"
          formControlName="contrasenia" >
        <mat-error *ngFor="let errorMessage of errorHandlerService.getErrorMessages(formExample,'contrasenia')">
          {{ errorMessage }}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>

<div class="" >
  <div class="col-2"> 
    <button 
      type="button" 
      class="btn btn-success" 
      (click)="utilitiesService.showSucessMessage('¡Ejecución exitosa!', '', 'Aceptar', 'Cancelar')" >
      Success
    </button>
  </div>
  <div class="col-2">
    <button 
      type="button" 
      class="btn btn-danger"
      (click)="utilitiesService.showErrorMessage('¡Ocurrió un error!', '', 'Aceptar', 'Cancelar')" >
      Danger
  </button>
  </div>
  <div class="col-2">
    <button 
      type="button" 
      class="btn btn-warning"
      (click)="utilitiesService.showWarningMessage('¡Ups! Se te olvidó algo...', '', 'Aceptar', 'Cancelar')" >
      Warning
    </button>
  </div>
  <div class="col-2">
    <button 
      type="button" 
      class="btn btn-info"
      (click)="utilitiesService.showInfoMessage('¿Se te ha olvidado algo?', '', 'Aceptar', 'Cancelar')" >
      Info
    </button>
  </div>
</div>


<button type="button" mat-raised-button color="warn" >Danger</button>
<button type="button" mat-raised-button color="primary" >Primary</button> -->
<div class="m-4" >
  <mat-card class="p-4" >
    <h1>Alojamientos</h1>
    <div class="line-home-page"></div>
    <form>
      
    </form>
  </mat-card>
</div>