<div class="container-reservation">
    <mat-card>
        <h1>Reserva</h1>
        
        <div class="line-reservation"></div>
    
        <div class="content-reservation">
            <h2>Restaurante</h2>
            <h3>Precio</h3>
            <h3>Fecha inicio reserva</h3>
            <h3>Fecha fin reserva</h3>
            <button type="button" mat-raised-button color="primary" class="m-2 button-primary" >Modificar reserva</button>
            <button type="button" mat-raised-button color="primary" class="m-2 cancel-button" >Eliminar reserva</button>
        </div>
      </mat-card>
</div>